/*Font - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Font - Boomer*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/*Animations*/
@keyframes intro {
	60% {opacity: 100%;}
	100% {opacity: 0%; transform: scale(12); visibility: collapse;}
}

@keyframes hovheader {
    0% {background-size: 100%;}
    100% {background-size: 150000%; color: #cccccc;}
}

body {
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
padding-top: 110px;
}

/*Intro*/
.intro {
	background-color: black;
	color: black;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	animation-name: intro;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.intro img {
	object-fit: none;
	background-color: black;
	display: flex;
	justify-content: center;
	user-select: none;
}

/*Header*/
.header {
	width: 100%;
	top: 0px;
	margin: 0px;
	background-color: #27283a;
	position: absolute;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	max-width: 1350px;
	padding: 0px 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-image: url('images/LogoSbackground3.png');
	background-size: 184px 100px;
	background-repeat: no-repeat;
	background-position: -12px;
	transition: all 0.5s;
}

.header img {
	width: 100px;
	user-select: none;
	transition: width 0.5s;
	padding-right: 80px;
}

.container ul {
	mix-blend-mode: luminosity;
	list-style: none;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: right;
	text-align: center;
	display: flex;
	position: relative;
	padding: 0px 60px 0px 15px;
	width: fit-content;
	transition: padding 0.5s;
}

.header li {
	position: relative;
}

.header a {
	color: white;
	background-image: linear-gradient(135deg, red 0%, #27283a 0.1%);
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Lalezar', sans-serif;
	font-size: 120%;
	transition: font-size 0.5s;
	display: inline-block;
	line-height: 3;
	padding: 0 0.75em;
	border: solid 0px;
	border-radius: 10px;
	letter-spacing: 1px;
	user-select: none;
}

.header a:hover {
	animation: hovheader 0.25s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@media only screen and (min-width: 1390px) {
.container {
	padding: 0px 42px;
	background-position: left;
	transition: padding 0.5s;
	transition: background-position 0.5s;
}
}

@media only screen and (max-width: 800px) {
.header ul {
	padding: 0px 30px 0px 15px;
	transition: padding 0.5s;
} 
.header a {
	font-size: 130%;
	transition: font-size 0.5s;
}
.header img {
	width: 125px;
	transition: width 0.5s;
}
body {
	padding-top: 135px;
}
.container {
	background-size: 215px 125px;
	transition: background-size 0.5s;
}
}

.MenuButton img {
 	width: 0px;
 	padding: 0px;
 	vertical-align: middle;
 	transition: width 0s;
 	cursor: pointer;
 	-webkit-tap-highlight-color: transparent;
 	user-select: none;
}

@media only screen and (max-width: 600px) {
.header ul {
	visibility: collapse;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

.header a {
	transform: translateX(-500px);
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	transition: all 0s;
}

.mobilemenu ul {
	visibility: inherit;
	height: inherit;
	padding: inherit;
}

.mobilemenu {
	visibility: visible!important;
	height: fit-content!important;
	transition: background-color 0.25s;
	background-color: #252537;
}

.mobilemenu a {
	transform: translateX(0px);
	width: inherit;
	height: inherit;
	padding: inherit;
	margin: inherit;
}

.MenuButton img {
	width: 70px;
	transition: width 0.5s;
}
.MenuButton {
	visibility: visible!important;
}
}

/*Mobilemenu*/

.MenuButton:hover {
	background-color: #252537;
	transition: background-color 0.25s;
}

.MenuButton {
	visibility: collapse;
	background-color: transparent;
	border: solid 0;
	border-radius: 10px;
	outline: none;
	margin: auto 0 auto auto;
	padding: 0.1em;
	height: fit-content;
	transition: transform 0.25s!important;
}

.MenuButton:active {
	background-color: #cccccc;
	transition: background-color 0.025s;
}

.mobilemenu {
	visibility: collapse;
	height: 0;
}

.mobilemenu ul {
	mix-blend-mode: luminosity;
	list-style: none;
	width: inherit;
	margin: 0;
	justify-content: right;
	text-align: center;
	display: block;
	position: relative;
	padding: 10px 15px 10px 15px;
	transition: padding 0.5s;
}

.mobilemenu li {
	width: 100%;
	margin: 0 auto;
}

.mobilemenu a {
	color: white;
	background-image: linear-gradient(135deg, red 0%, #252537 0.1%);
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Lalezar', sans-serif;
	font-size: 250%;
	display: inline-block;
	line-height: 2;
	padding: 0;
	border: solid 0px;
	border-radius: 10px;
	letter-spacing: 1px;
	user-select: none;
	width: inherit;
}

/*Global*/
.a {
	cursor: pointer;
}
