/*Font - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Font - Boomer*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/*Animations*/
@keyframes intro {
	60% {opacity: 0;}
	100% {opacity: 0; transform: scale(12); visibility: collapse;}
}

@keyframes hovheader {
    0% {background-size: 100%;}
    100% {background-size: 150000%; color: #cccccc;}
}

@keyframes hidevideo {
	0% {opacity: 1; visibility: visible;}
	100% {opacity: 0; visibility: collapse;}
}

@keyframes showcheckoutbak {
	0% {opacity: 0.7; visibility: visible;}
	100% {opacity: 0; visibility: collapse;}
}

@keyframes shownotif {
	0% {opacity: 0; visibility: collapse; transform: scale(1);}
	25% {opacity: 1; transform: scale(1.1);}
	100% {opacity: 1; visibility: visible;}
}

@keyframes spin {
	0% {transform: translate(-50%, -50%) rotateY(0deg);}
	100% {transform: translate(-50%, -50%) rotateY(360deg);}
}

/*Variables*/
:root {
	--transform1: 0deg;
	--transform2: 180deg;
	--height1: 0;
	--padding1: 0 1em;
	--padding2: 10em;
	--padding3: 7em;
	--padding4: 0 0.5em;
	--blu: #27283a;
	--dkblu: #252537;
	--dkblutransparent: rgba(37, 37, 55, 0.5);
	--gry: #36393f;
	--removeitembool: collapse;
}

body {
margin: 0;
padding-top: 100px;
transition: padding 0.5s;
background-color: #36393f;
background-color: var(--gry);
}

/*Intro*/
.intro {
	background-color: black;
	color: black;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	animation-name: intro;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.intro img {
	object-fit: none;
	background-color: black;
	display: flex;
	justify-content: center;
	user-select: none;
}

/*Header*/
.header {
	width: 100%;
	top: 0px;
	margin: 0px;
	background-color: #27283a;
	position: absolute;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	max-width: 1350px;
	padding: 0px 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-image: url('images/LogoSbackground3.png');
	background-size: 184px 100px;
	background-repeat: no-repeat;
	background-position: -12px;
	transition: all 0.5s;
}

.header img {
	width: 100px;
	height: auto;
	user-select: none;
	transition: width 0.5s;
	padding-right: 75px;
}

.container ul {
	mix-blend-mode: luminosity;
	list-style: none;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: right;
	text-align: center;
	display: flex;
	position: relative;
	padding: 0px 60px 0px 15px;
	width: fit-content;
	transition: padding 0.5s;
}

.header li {
	position: relative;
}

.header a {
	color: white;
	background-image: linear-gradient(135deg, red 0%, #27283a 0.1%);
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Lalezar', sans-serif;
	font-size: 120%;
	transition: font-size 0.5s;
	display: inline-block;
	line-height: 3;
	padding: 0 0.75em;
	border: solid 0px;
	border-radius: 10px;
	letter-spacing: 1px;
	user-select: none;
}

.header a:hover {
	animation: hovheader 0.25s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.logolink {
	height: 100px;
	width: 100px;
	position: absolute;
	transform: initial!important;
	background-image: none!important;
	padding: 0!important;
	margin: 0;
}

/* Desktop Screens */
@media only screen and (min-width: 1390px) {
.container {
	padding: 0px 42px;
	background-position: left;
	transition: background-position 0.5s, padding 0.5s;
}

.upper {
	background-position: 50% -100px!important;
	transition: background-position 0.5s;
}

article img {
	min-width: 35em;
	max-width: 35em;
	width: 35em;
}

.divisions li {
	width: 20em!important;
	height: 15em!important;
	transition: width 0.5s, height 0.5s;
}

.divisions .max-width {
	max-width: fit-content!important;
	transition: max-width 0.5s;
}

}

/* Tablet Screens */
@media only screen and (max-width: 916px) {
.header ul {
	padding: 0px 30px 0px 15px;
	transition: padding 0.5s;
}

.header a {
	font-size: 130%;
	transition: font-size 0.5s;
}

.header img {
	width: 125px;
	transition: width 0.5s;
}

.logolink {
	width: 125px;
	height: 125px;
}

body {
	padding-top: 125px;
	transition: padding 0.5s;
}

.container {
	background-size: 215px 125px;
	transition: background-size 0.5s;
}

.upper h1 {
	font-size: 450%!important;
	transition: font-size 0.5s;
}

#maintenance {
	left: 350px!important;
	transition: left 0.5s;
}

.upper h2 {
	font-size: 150%!important;
	transition: font-size 0.5s;
}

.upper img {
	max-width: 65%!important;
	min-width: 290px;
	transition: width 0.5s;
}

article img {
	min-width: 290px;
}

#Article1 {
	padding: 4em 4em 2em 4em!important;
	transition: padding 0.5s;
}

#Article2 {
	padding: 2em 4em 4em 4em!important;
	transition: padding 0.5s;
}

footer .max-width {
	padding: 1em 5em 0.5em 5em!important;
	transition: padding 0.5s;
}

#store {
	padding: 1em 2em 0.5em 2em!important;
	transition: padding 0.5s;
}

.legalp {
	padding: 1em 5em 1em 5em!important;
	transition: padding 0.5s;
}

.divisions {
	padding: 1em 3em 1em 3em!important;
	transition: padding 0.5s;
}

.user {
	width: 40px!important;
	height: 40px!important;
	transition: width 0.5s, height 0.5s;
}

#userR {
	width: 4.5em!important;
	height: inherit!important;
	transition: width 0.5s, height 0.5s;
}

.user i {
	margin-left: -0.075em!important;
	transition: margin 0.5s;
}

.user p {
	visibility: collapse;
	width: 0;
	margin: 0;
}

#items {
	width: auto!important;
}

.storeinfo h1 {
	padding: 0!important;
	transition: padding 0.5s;
}

.featured ul {
	grid-template-columns: initial!important;
	grid-template-rows: auto auto auto;
	grid-row-gap: 1em;
	grid-column-gap: 0!important;
}

.ingamestats button {
	height: 2.25em!important;
	border-radius: 0.5em!important;
	font-size: 1.1em!important;
	transition: height 0.5s, border-radius 0.5s, font-size 0.5s;
}

.storeitemlist button {
	height: 2em!important;
	border-radius: 0.25em!important;
	font-size: 1em!important;
	transition: height 0.5s, border-radius 0.5s, font-size 0.5s;
}

.checkoutcontent {
	flex-direction: column-reverse;
}

.checkoutcart {
	position: static!important;
	margin-left: 0!important;
	margin-bottom: 1.5em;
	transition: margin 0.5s;
}

.checkout table {
	width: 100%!important;
}

.lowerstore {
	flex-direction: column!important;
}

.info {
	margin-right: 0px!important;
	transition: margin 0.5s!important;
}

}

.MenuButton img {
 	width: 0px;
 	padding: 0px;
 	vertical-align: middle;
 	transition: width 0s;
 	cursor: pointer;
 	-webkit-tap-highlight-color: transparent;
 	user-select: none;
}

/* Mobile Screens */
@media only screen and (max-width: 695px) {
.header {
	overflow: auto;
}

.header ul {
	visibility: collapse;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

.header a {
	transform: translateX(-500px);
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	transition: all 0s;
}

.logolink {
	width: 125px!important;
	height: 125px!important;
}

.container ul {
	overflow: hidden;
}

.mobilemenu ul {
	visibility: inherit;
	height: inherit;
	padding: inherit;
}

.mobilemenu {
	visibility: visible!important;
	height: 100%!important; /*for browsers that dont support fit-content*/
	height: fit-content!important;
	transition: background-color 0.25s;
	background-color: #252537;
}

.mobilemenu a {
	transform: translateX(0px);
	width: inherit;
	height: inherit;
	padding: inherit;
	margin: inherit;
}

.MenuButton img {
	width: 70px;
	transition: width 0.5s, transform 0.025s;
}

.MenuButton {
	visibility: visible!important;
}

.upper h1 {
	font-size: 400%!important;
	transition: font-size 0.5s;
}

#maintenance {
	left: 300px!important;
	transition: left 0.5s;
}

.upper h2 {
	font-size: 125%!important;
	transition: font-size 0.5s;
}

.upper .max-width {
	justify-content: space-around!important;
}

#Article1 {
	padding: 4em 0.1em 2em 0.1em!important;
	transition: padding 0.5s;
}

#Article2 {
	padding: 2em 0.1em 4em 0.1em!important;
	transition: padding 0.5s;
}

footer .max-width {
	padding: 1em 1.1em 0.5em 1.1em!important;
	transition: padding 0.5s;
}

#store {
	padding: 1em 1.1em 0.5em 1.1em!important;
	transition: padding 0.5s;
}

.legalp {
	padding: 1em 1.1em 1em 1.1em!important;
	transition: padding 0.5s;
}

.divisions {
	padding: 1em 1em 1em 1em!important;
	transition: padding 0.5s;
}

.storeinfo {
	flex-wrap: wrap;
}

.storeinfo h1 {
	position: relative!important;
	width: 75%;
	min-width: 280px;
	min-width: max-content;
	max-width: 100%;
	margin: 0 calc(100% - 75%)!important;
}

.user {
	margin-top: 1.75em;
	transition: margin 0.5s;
}

.checkout {
	padding: 1em!important;
	transition: padding 0.5s, max-width 0.5s, height 0.5s;
	max-width: 100%!important;
	min-width: 295px!important;
	max-height: 100%!important;
	width: 90%!important;
	height: 90%!important;
}

.storeterms, .steamparagraph, .storetermsapprove {
	font-size: 0.75em!important;
	transition: font-size 0.5s;
}

.storetermsapprove {
	font-size: 1em!important;
	transition: font-size 0.5s;
}

#storetermscheck {
	width: 15px!important;
	height: 15px!important;
	transition: width 0.5s, height 0.;
}

.checkoutinfo p {
	font-size: 0.75em;
}

.cartnotification {
	font-size: 0.75em;
	transition: font-size 0.5s!important;
}

.featured {
	padding: 0em 0.5em 2em 0.5em!important;
	transition: padding 0.5s;
}

.featured h1 {
	margin-top: 0.5em!important;
	transition: margin 0.5s;
}

.featured h2 {
	--padding2: 4em;
}

.featured li {
	height: 20em!important;
}

.allstoreitems {
	padding: 0em 0.5em 0em 0.5em!important;
    transition: padding 0.5s;
}

.fade {
	visibility: collapse;
}

.lowerstore {
	padding: 2em 0.5em 1em 0.5em!important;
	transition: padding 0.5s!important;
}

.info {
	font-size: 0.75em;
	transition: font-size 0.5s!important;
}

.goal {
	white-space: normal!important;
}

}

/*Mobilemenu*/

.MenuButton:hover {
	background-color: #252537;
	transition: background-color 0.25s;
}

.MenuButton {
	visibility: collapse;
	background-color: transparent;
	border: solid 0;
	border-radius: 10px;
	outline: none;
	margin: auto 0 auto auto;
	padding: 2px;
	height: 66px;
	height: fit-content;
	transition: transform 0.25s!important;
}

.MenuButton:active {
	background-color: #cccccc;
	transition: background-color 0.025s;
}

.mobilemenu {
	visibility: collapse;
	height: 0;
}

.mobilemenu ul {
	mix-blend-mode: luminosity;
	list-style: none;
	width: inherit;
	margin: 0;
	justify-content: right;
	text-align: center;
	display: block;
	position: relative;
	padding: 10px 15px 10px 15px;
	transition: padding 0.5s;
}

.mobilemenu li {
	width: 100%;
	margin: 0 auto;
}

.mobilemenu a {
	color: white;
	background-image: linear-gradient(135deg, red 0%, #252537 0.1%);
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Lalezar', sans-serif;
	font-size: 250%;
	display: inline-block;
	line-height: 2;
	padding: 0;
	border: solid 0px;
	border-radius: 10px;
	letter-spacing: 1px;
	user-select: none;
	width: inherit;
}

/*content*/
.content {
	overflow: hidden;
}

.content h1 {
	font-family: 'Lalezar', sans-serif;
	letter-spacing: 3px;
	line-height: 1;
}

.content h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	margin: 0;
	color: white;
}

.content p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	margin: 0;
	color: white;
}

/*upper*/
.upper {
	position: relative;
	padding: 2em 0.5em;
	background-image: url('images/background.jpg');
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
    transition: background-position 0.5s;
}

.upper h1 {
	color: white;
	text-align: center;
	font-size: 500%;
	transition: font-size 0.5s;
	position: relative;
	margin: 0 auto;
	text-shadow: 10px 12px 3px rgba(0,0,0,0.5);
}

.upper h2 {
	color: white;
	text-align: center;
	font-size: 200%;
	font-weight: normal;
	transition: font-size 0.5s;
	margin: 0 auto;
	text-shadow: 10px 12px 5px rgba(0,0,0,0.5);
}

#maintenance {
	color: darkorange;
	position: absolute;
	top: -7.5px;
	right: 0px;
	left: 400px;
	transition: left 0.5s;
	display: none;
}

.upper p {
	white-space: nowrap;
	text-shadow: 10px 12px 6px rgba(0,0,0,0.5);
	padding-top: 0.5em; 
}

.upper i {
	font-style: normal;
	color: white;
	color: inherit;
}

.upper b {
	color: white!important;
}

#players {
	cursor: pointer;
}

.upper img {
	width: 500px;
	height: auto;
	transition: width 0.5s!important;
	display: block;
	margin: 0 auto;
}

.upper .videoblock {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: black;
}

.upper video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.upper .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	opacity: 0.5;
	height: 5em;
	width: 5em;
	border-radius: 1em;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.upper button {
	border: none;
	border-radius: 3em;
	font-size: 1.25em;
	padding: 0.5em 2em;
	font-family: 'Roboto', sans-serif;
	background-color: var(--blu);
	opacity: 0.6;
	color: white;
	transition: color 0.25s, opacity 0.25s;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 3em;
	white-space: nowrap;
}

.upper button:hover {
	cursor: pointer;
	color: #cccccc;
	opacity: 1;
	background-color: var(--dkblu);
	transition: color 0.25s, opacity 0.25s, background-color 0.25s;
}

.upper button:active {
	color: black;
	background-color: #cccccc;
	transition: color 0.25s, background-color 0.25s;
}

/*articles*/
.lower article {
	transition: padding 0.5s;
	display: flex;
	justify-content: center;
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
}

#Article1 {
	background-image: url('images/background3.jpg');
	padding: 4em 8em 2em 8em;
}

#Article2 {
	background-image: url('images/background2.jpg');
	padding: 2em 8em 4em 8em;
}

.description {
	margin: auto 0;
	padding: 1em;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

article img {
	max-width: 35em;
	width: 80%;
	height: auto;
	margin: auto;
	display: block;
}

#Article2 h2 {
	font-size: 2em!important;
}

#Article2 p {
	margin-bottom: 1em;
}

article a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	margin: 0;
	color: white;
	line-height: 2;
	white-space: nowrap;
	padding: 0.5em;
	border: solid 3px;
	border-radius: 30px;
	transition: background-color 0.25s, color 0.25s;
	user-select: none;
	text-decoration: none;
}

article a:hover {
	background-color: rgba(0, 0, 0, 0.35);
	transition: background-color 0.25s, color 0.25s;
	color: #cccccc;
}

article i {
	font-size: 1.5em;
	vertical-align: middle;
	transform: translateY(-10%);
}

/*seperator*/
.seperator {
	margin-top: 0.5em; 
	line-height: 1;
	border-top: solid 4px white;
	width: 40%;
	user-select: none;
}

footer .seperator {
	min-width: 5em!important;
	width: 10%!important;
	border-color: #cccccc!important;
}

/*wave*/
/*(Overlay is to coverup a 1px bug with .svgs)*/
.overlay {
	position: absolute;
	height: 1em;
	transform: translateY(-0.5em);
	width: 100%;
	background-color: var(--blu);
}

footer .overlay {
	background-color: #36393f;
	background-color: var(--gry);
	height: 1.5em;
}

.wave {
	width: 100%;
	user-select: none;
}

.wave img {
	display: block;
	background-image: url('images/background3.jpg');
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-height: 6em;
}

#flip {
	background-color: #27283a;
}

#flip img {
	background-image: url('images/background2.jpg')!important;

}

/*max-width: 1350px*/
.max-width {
	max-width: 1350px;
	display: inherit;
}

.upper .max-width {
	margin: auto;
	padding: 0 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.divisions .max-width {
	margin: auto;
	transition: max-width 0.5s;
}

.allstoreitems .max-width {
	display: inherit!important;
	margin: 0 auto;
}

footer .max-width {
	padding: 1em 9em 0.5em 9em;
	transition: padding 0.5s;
	justify-content: left;
	text-align: left;
	margin: 0 auto;
}

#store {
	padding: 1em 2em 0.5em 2em;
}

/*divisions*/
.divisions {
	padding: 1em 4em 1em 4em;
	display: block;
	overflow: hidden;
	transition: padding 0.5s;
	background-color: #27283a;
}

.divisions h1 {
	text-align: left;
	font-size: 300%;
	transition: font-size 0.5s;
	margin: 0 auto;
	color: white;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

.divisions ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
	text-align: center;
}

.divisions li {
	min-width: 270px;
	min-height: 200px;
	width: 15em;
	height: 10em;
	display: inline-block;
	position: relative;
	text-align: center;
	border: solid 0px;
	border-radius: 30px;
	margin: 1em;
	transform-style: preserve-3d;
	perspective: 1000px;
	transition: width 0.5s, height 0.5s;
}

.divisions li p {
	font-size: 200%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.divisions li img {
	filter: drop-shadow(2px 4px 6px black);
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.divisions li:hover {
	--transform1: -180deg;
	--transform2: 0deg;
}

/*Front of the division card*/
.front {
	border: solid 0px;
	border-radius: 30px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 0.5s;
	transform: rotateY(var(--transform1));
}

.front h2 {
	text-align: left;
	transition: font-size 0.5s;
	font-family: 'Lalezar', sans-serif;
	letter-spacing: 3px;
	line-height: 1;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
	font-size: 250%;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

/*Back of the division card*/
.back {
	border: solid 0px;
	border-radius: 30px;
	background-color: #36393f;
	background-image: linear-gradient(45deg, #27283a 5%, transparent);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 0.5s;
	transform: rotateY(var(--transform2));
}

.back p {
	font-size: 1em!important;
	line-height: 1.5;
	width: inherit; /*for browsers that dont support fit-content*/
	width: fit-content;
	padding: 0.5em;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

footer {
	background-color: #36393f;
	background-color: var(--gry);
	display: block;
	margin: 0;
	overflow: hidden;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer p {
	color: #cccccc;
	font-size: 1.25em;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	width: 40%;
	white-space: nowrap;
}

#footer {
	background-color: #36393f;
	background-color: var(--gry)!important;
	background-image: none!important;
}

#footer img {
	background-color: #36393f;
	background-color: var(--gry)!important;
	background-image: none!important;
	max-height: 3em!important;
	width: 100%;
}

.legal {
	display: flex;
}

.legal p {
	width: auto!important;
	width: initial!important;
	padding: 0 0.25em;
	font-size: 1em;
	font-weight: bold;
}

.legal a {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #cccccc;
	transition: color 0.25s;
	text-decoration: none;
}

.legal a:hover {
	color: whitesmoke;
	transition: color 0.25s;
}

/*Legal Pages*/
.legalp {
	color: white;
	padding: 1em 9em 1em 9em;
	transition: padding 0.5s;
	text-align: left;
}

.legalp h1 {
	font-size: 2em;
}

.legalp p {
	line-height: 1.5;
	margin: 0.5em 0;
}

/*Global*/
a {
	cursor: pointer;
}

button:focus-visible {
	outline: auto;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 1em;
	height: 1em;
}

.storeitemlist {
	scrollbar-width: none;
}

.storeitemlist::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	background: var(--blu);
}

::-webkit-scrollbar-thumb {
	background-color: #cccccc;
	border-radius: 1em;
	min-height: 1em;
	min-width: 1em;
	border: solid 0.25em var(--blu);
}

::-webkit-scrollbar-thumb:hover {
	background-color: whitesmoke;
}

::-webkit-scrollbar-corner {
	background: var(--blu);
}