/*Font - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Font - Boomer*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/*Variables*/
:root {
	--supporter: #e74c3c;
	--supporterxx: #992d22;
	--infoOpacity: 0;
	--infoHeight: 0;
	--infoVisibility: hidden;
	--arrowSize: 15px;
}

.selectplan {
	width: 100%;
	/*height: 500px; Remove this later*/
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: stretch;
}

.plan {
	width: 50%;
	min-height: 400px;
	transition: width 0.5s;
	padding: 2em 3em 2em 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plan:hover {
	width: 75%!important;
	transition: width 0.5s;
	justify-content: flex-start;
	--infoOpacity: 1;
	--infoHeight: 300px;
	--infoVisibility: visible;
}

#S {
	background-color: var(--supporter);
}

#SXX {
	background-color: var(--supporterxx);
}

.splitter {
	width: 100px;
}

.headplan {
	color: white;
	font-size: 3.5em;
	font-family: 'Lalezar', sans-serif;
	width: 100%;
	height: 94px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0;
	user-select: none;
}

.larger {
	font-size: 1.5em;
	white-space: nowrap;
	margin: 0 0 0 0.15em;
}

.infoplan {
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	place-content: center;
	opacity: var(--infoOpacity);
	height: var(--infoHeight);
	visibility: var(--infoVisibility);
	transition: opacity 0.5s, height 0.5s, visibility 0.5s;
}

.arrow::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	top: calc(var(--arrowSize) * -1);
	transform: translateX(-50%);
	display: block;
	border: 0;
	border-left: var(--arrowSize) solid transparent;
	border-right: var(--arrowSize) solid transparent;
	border-bottom: var(--arrowSize) solid rgba(0,0,0,0.3);
}

.infoplan ul {
	background-color: rgba(0,0,0,0.3);
	padding: 1em;
	position: relative;
	margin: 0 0 1em 0;
}

.infoplan li {
	list-style-type: none;
	text-shadow: 1px 1px 10px rgb(0 0 0 / 80%);
	width: fit-content;
	padding-bottom: 0.1em;
	margin-bottom: 0.25em;
	border-bottom: 3px solid white;
}

.infoplan button {
	border: none;
	color: white;
	padding: 0.25em;
	border-radius: 0.25em;
	font-weight: bolder;
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
	background-color: limegreen;
	transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
}

.infoplan button:hover {
	background-color: #51e151;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 9%);
	transition: background-color 0.25s;
}

.infoplan button:active {
	color: #cccccc;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
}

button:hover {
	cursor: pointer;
}